.recommend{
  margin-bottom: 18px;
}
.recommend .container{
  padding: 28px 15px;
}

.recommend h2 {
  font-family: "Maven Pro", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #051521;
  margin: 0;
  margin-bottom: 33px;
}