.promo-slider{
  position: relative;
}

.promo-slider__slide{
  position: relative;
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
.promo-slider__text-box{
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  font-family: 'Hind', Sans-serif;
  font-style: normal;
  font-weight: bold;
  .discount{
    font-size: 10vw;
  }
  .object-of-discount{
    font-size: 1.8vw;
    margin-bottom: 31px;
  }
  .button--discount{
    font-family: "Hind", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2vw;
    letter-spacing: 1.7px;
    padding: 1.2vw 2.9vw;
    border: 2px solid #f75555;
  }
}
.sick-slide{
  height: 524px;
}
.slick-arrow{
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 50px;
  background: none;
  border: none;
  font-size: 0;
  outline: none;
  &:before{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) rotate(-135deg);
      content: "";
      border-top: 1px solid #fff;
      border-right: 1px solid #fff;
      height: 18px;
      width: 18px;
    }
}

.slick-next{
  right: 50px;
  left: auto;
  &:before{
    transform: rotate(45deg);
  }
}
.slick-arrow:hover{
  cursor: pointer;
}
.slick-dots{
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    margin-right: 7px;
    width: 2.4vw;
    height: 10px;
    border-radius: 5px;
    background: rgba(231, 235, 236, 0.8);
    button{
      width: 100%;
      height: 10px;
      font-size: 0;
      background: none;
      border: none;
      outline: none;
    }
  }
  .slick-active{
    background: #F75555;
  }
}

@media all and (max-width: 1024px){
  .slick-dots{
    display: none;
  }
}

@media all and (max-width: 768px){
  .slick-arrow{
    display: none;
  }
  .promo-slider__text-box .button--discount{
    font-size: 3vw;
  }
}