.etabs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  .tab {
    margin-right: 114px;
    padding: 10px 20px;
  }
}

.tab a {
  color: #112838;
  text-decoration: none;
}

.tab a.active {
  color: #F75555;

}

.tab a.active .tab {
  border-bottom: 1px solid #F75555;
}

.tabs-row {
  background: #ffffff;
  color: #112838;
  padding: 11px 29px;
  display: flex;

  &:last-child {
    align-items: flex-end;
    padding-bottom: 29px;
  }

  &:first-child {
    padding-top: 29px;
  }

  .property {
    min-width: 150px;
  }
}

/*-----------IMAGE------------*/

.product {
  margin-bottom: 53px;
  position: relative;

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  &__img-wrapper {
    position: relative;
    max-width: 460px;
    background: #ffffff;
    padding: 35px 70px;

    &--bottom {
      display: flex;
      justify-content: center;
      margin: 0 -8px;
    }
  }

  &__img-holder {
    margin-bottom: 58px;

    img {
      margin: 0 auto;
    }
  }

  &__img-bottom {
    display: flex;
    max-width: 110px;
    max-height: 130px;
    margin: 0 8px;
    padding: 7px;
    border-radius: 5px;
    box-shadow: unset;
    transition: 0.2s all;

    &:hover:not(&--active) {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    &--active {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }
  }

  &__color {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 33px;
    left: 33px;

    &__choose {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-bottom: 19px;
      cursor: pointer;
      transform: scale(1);
      transition: 0.2s all;

      &--black {
        background: #343434;
      }

      &--red {
        background: #F83232;
      }

      &--blue {
        background: #156AA5;
      }

      &:hover:not(&--active) {
        transform: scale(1.1);
      }

      &--active {
        box-shadow: 0 0 0 3px #343434, inset 0 0 0 2px #fff;

      }
    }
  }
}

/*-------DESCRIPTION---------*/

.product__description {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  line-height: 19px;
  padding: 0 0 0 41px;

  h1 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  .star-rating {
    display: flex;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 18.5px;

    .rating-row {
      width: 116px !important;
    }

    .estimation {
      margin-right: 18px;
    }

    &__comments {
      text-decoration: none;
      color: #c4c4c4;
      font-size: 18px;
      transition: all .3s ease;
    }

    #star9 {
      display: flex;
      margin-right: 13px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .product__number {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #486175;
    margin-bottom: 13px;
  }

  .available {
    display: block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 26px;
    padding-left: 4px;

    &:before {
      content: '';
      width: 13px;
      height: 8px;
      border-right: 2px solid #64CA53;
      border-top: 2px solid #64CA53;
      display: inline-block;
      transform: rotate(135deg) translateY(5px);
      margin-right: 9px;

    }
  }

  .not-available {
    display: block;

    &:before {
      content: '';
      width: 9px;
      height: 9px;
      display: inline-block;
      background: center / cover no-repeat url("../images/clock.png");
      margin-right: 5px;
    }
  }

  .product__price {
    display: block;
    font-size: 36px;
    line-height: 42px;
    color: #F75555;
    font-weight: bold;
    margin-bottom: 22px;
  }

  .product__amount {

    &__text {
      display: block;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      padding: 12px 10px;
      border: 1px solid #92A4B1;
      border-radius: 5px;
      max-width: fit-content;
    }

    &__less, &__more {
      display: inline-block;
      position: relative;
      width: 15px;
      height: 15px;

      &:hover {
        cursor: pointer;
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 2px;
        background: black;
      }
    }

    &__more::after {
      content: "";
      height: 15px;
      width: 2px;
      background: #000;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .product__total {
      margin: 0 52px
    }
  }

  .product__size__holder {
    display: flex;
    margin-bottom: 30px;

    .product__size__size {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      line-height: 21px;
      border-radius: 5px;
      border: 1px solid #92A4B1;
      width: 40px;
      height: 40px;
      margin-right: 13px;
      transition: all 0.3s;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        border: 1px solid #F75555;
        cursor: pointer;
      }
    }
  }

  .button {
    max-width: 260px;
    max-height: 45px;
    padding: 15px;
    margin-bottom: 10px;
  }
}