.tabs{
  color: #112838;
  font-family: 'Source Sans Pro', Sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.etabs{
  display: flex;
  list-style: none;
  margin: 0 0 20px 70px;
  padding: 0;
  font-size: 16px;
  font-family: 'Maven Pro', Sans-serif;
  font-weight: 400;
  max-width: 850px;
  justify-content: space-between;
  .tab{
    white-space: nowrap;
  }
}
.tab a{
  color: #112838;
  text-decoration: none;
}
.tab a.active{
  color: #F75555;
  position: relative;
}
.tab a.active:after{
  content: '';
  width: 145px;
  height: 1px;
  border-bottom: 2px solid  #F83232;
  position: absolute;
  left: -35px;
  bottom: -21px;
}
.tab:nth-child(2) a.active:after{
  content: '';
  width: 200px;
  height: 1px;
  border-bottom: 2px solid  #F83232;
  position: absolute;
  left: -35px;
  bottom: -21px;
}
.tabs-row{
  background: #ffffff;
  color: #112838;
  display: flex;


  &:last-child{
    align-items: flex-end;
  }
  &:first-child{

  }
  .property{
    font-family: "Maven Pro",Sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1px;
    color: #112838;
    flex-basis: 181px;

   }
  .description{
    line-height: 23px;
    width: calc(100% - 181px);
    padding-bottom: 18px;

    p{
      margin: 0 0 4px 0
    }
    p:last-child{
      margin: 0;
    }
  }
  .description:last-child{

  }
}
.tab-inner-iframe{
  display: flex;
  align-items: center;
  justify-content: center;
}
.tab-inner{
  background: #ffffff;
  padding: 27px 32px;

}
.popup-gallery{
  display: flex;
  flex-wrap: wrap;
  a{
    flex-basis: 25%;
    img{
      height: 100%;
      object-fit: cover;
    }
  }
}
.tabs-holder iframe{
  border: none;
}

.feedback-holder{
  input[type=checkbox]{
    display: none;
  }
  .button{
    padding: 11px 25px;
    border: 1px solid #F75555;
    background: #fff;
    color: #F75555;
    transition: all .3s ease;
    display: inline-block;
    margin-bottom: 25px;
    &:hover{
      background: #F75555;
      border: 1px solid #ffffff;
      color: #fff;

    }
  }

  .feedback-adder{
    max-width: 814px;
    padding: 10px;
    margin: 0 auto;
    display: flex;

    .estimation-holder{
      display: flex;
      margin-bottom: 40px;
      .rating-row{
        display: flex;
        margin-left: 10px;
      }
    }
    form{
      display: flex;
      align-items: flex-end;
      .subscribe__input-wrapper{
        flex-basis: calc(50% - 20px);
        margin-right: 10px;
      }
      .subscribe__input-wrapper--adv,
      .subscribe__input-wrapper--disadv{
        flex-basis: calc(100% - 30px);
      }
    }
  }
  .feedback-sender{
    display: flex;
    flex-direction: column;
    input{
      background: #EBECEE;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .feedback-adder{
    display: none;
  }
  #btn-id:checked~ .feedback-adder{
    display: flex;
  }
  #btn-id:checked~ label{
    opacity: 0;
  }

  .feedback-block{
    display: flex;
    flex-wrap: wrap;
    .feedback{
      margin: 0 20px 20px 0;
      flex-basis: calc(50% - 20px);
      .personal-data{
        display: flex;
        .avatar-holder{
          width: 50px;
          height: 50px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 20px;
          img{
            object-fit: cover;
            height: 100%;
          }
        }
        .rating-row{
          display: flex;
        }
        .name{
          display: inline-block;
          margin-bottom: 10px;
        }
      }
    }
    .feedback-content{
      padding: 10px 0 0 65px;
      margin-bottom: 25px;
      display: flex;
      flex-direction: column;
      .feedback-content-inner{
        flex-grow: 1;
      }
      .uploaded-photo{
        width: 50px;
        height: 50px;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
      form{
        display: flex;
        justify-content: space-between;
        position: relative;
        &:after{
          content: '';
          width: 100%;
          border-bottom: 1px solid #92A4B1;
          position: absolute;
          left: 0;
          bottom: -10px;
        }
      }
      .leave-comment{
        position: relative;
        width: 250px;
      }
      .leave-comment input{
        font-family: "Source Sans Pro", Sans-serif;
        font-size: 14px;
        line-height: 20px;
        padding-left: 25px;
        background: #ffffff;
        border: none;
        width: 100%;
        outline: none;
      }
      .leave-comment label{
        display: block;
        width: 20px;
        height: 20px;
        background: url("../images/pencil.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
      .icon-holder{
        display: flex;
      }
      .like{
        border: none;
        display: block;
        width: 20px;
        height: 20px;
        background: url("../images/like.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .dislike{
        border: none;
        display: block;
        width: 20px;
        height: 20px;
        background: url("../images/dislike.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .amount-like,.amount-dislike{
        line-height: 20px;
        display: inline-block;
        margin:0 10px;
      }
    }
  }
  .question-holder{
    padding-left: 100px;
  }
  .name{
    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #112838;
  }
  .date{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #989898;
  }
  .adv,
  .disadv{
    font-family: Maven Pro;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #345781;
  }
  .adv-content,
  .disadv-content{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #112838;

  }
  .feedback--pure{
    .uploaded-photo{
      display: none;
    }
    form:after{
      display: none;
    }
    .question-holder{
      display: none;
    }
  }
  .feedback--photo{
    .question-holder{
      display: none;
    }
    form:after{
      display: none;
    }
  }
  .feedback--comment{
    .uploaded-photo{
      display: none;
    }
  }
  input[type=image]{
    width: 264px;
    height: 147px;
  }
  .like,
  .dislike{
    cursor: pointer;
  }
}




.tabs .open-close-holder input{
  display: none;
}

.open-close-holder{
  display: none;
}

@media all and (max-width: 768px){
  .open-close-holder{
    display: block;
  }

  .tabs-holder{
    display: none;
  }
  .tabs .opener{
    display: block;
    margin-bottom: 10px;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    position: relative;
    &:after{
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      border-bottom: 1px solid #989898;
      border-right: 1px solid #989898;
      transform: rotate(45deg);
      top: 3px;
      right: 0;

    }
  }
  .tabs-row-holder{
    background: #ffffff;
    padding: 8px;
  }
  .first-tabs-row-holder{
    display: none;
  }
  .tabs #first-tab:checked~.first-tabs-row-holder{
    display: block;
  }

  .tabs #first-tab:checked+label {
    color: #F83232;
  }

  .tabs #first-tab:checked+label:after {
    transform: rotate(225deg);
  }

  .second-tabs-row-holder{
    display: none;
  }
  .tabs #second-tab:checked~.second-tabs-row-holder{
    display: block;
  }

  .tabs #second-tab:checked+label {
    color: #F83232;;
  }

  .tabs #second-tab:checked+label:after {
    transform: rotate(225deg);
  }

  .third-tabs-row-holder{
    display: none;
  }
  .tabs #third-tab:checked~.third-tabs-row-holder{
    display: block;
  }

  .tabs #third-tab:checked+label {
    color: #F83232;;
  }

  .tabs #third-tab:checked+label:after {
    transform: rotate(225deg);
  }

  .fourth-tabs-row-holder{
    display: none;
  }
  .tabs #fourth-tab:checked~.fourth-tabs-row-holder{
    display: block;
  }

  .tabs #fourth-tab:checked+label {
    color: #F83232;;
  }

  .tabs #fourth-tab:checked+label:after {
    transform: rotate(225deg);
  }
  #btnn-id:checked~ .feedback-adder{
    display: block;
  }
  .feedback-adder .subscribe__form input{
    display: block;
  }
  .feedback-holder .feedback-adder form{
    align-items: center;
  }

  .tabs-row:first-child{
    display: block;
    .property{
      display: block;
    }
  }
  .popup-gallery a{
    flex-basis: calc(50% - 12px);
    margin: 0 3px;
  }
  iframe{
    width: 100%;
    border: none;
  }
  .feedback-block{
    flex-direction: column;
    .feedback{
      width: 100%;
    }
    .leave-comment input{
      display: block;
    }
  }
  .feedback-holder .feedback-block .feedback .feedback-content{
    padding-left: 0;
  }
}

/*-----------IMAGE------------*/

.product {
  margin-bottom: 53px;
  position: relative;

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .heading__mobile {
    display: none;
  }

  &__img-wrapper {
    position: relative;
    max-width: 460px;
    background: #ffffff;
    padding: 35px 70px;

    &--bottom {
      display: flex;
      justify-content: center;
      margin: 0 -8px;
    }

    .slick-dots {
      display: none !important;
    }
  }

  &__img-holder {
    margin-bottom: 58px;

    img {
      margin: 0 auto;
    }
  }

  &__img-bottom {
    display: flex;
    max-width: 110px;
    max-height: 130px;
    margin: 0 8px;
    padding: 7px;
    border-radius: 5px;
    box-shadow: unset;
    transition: 0.2s all;

    &:hover:not(&--active) {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }

    &--active {
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    }
  }

  &__color {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 33px;
    left: 33px;
    z-index: 2;

    &__choose {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-bottom: 19px;
      cursor: pointer;
      transform: scale(1);
      transition: 0.2s all;

      &--black {
        background: #343434;
      }

      &--red {
        background: #F83232;
      }

      &--blue {
        background: #156AA5;
      }

      &:hover:not(&--active) {
        transform: scale(1.1);
      }

      &--active {
        box-shadow: 0 0 0 3px #343434, inset 0 0 0 2px #fff;

      }
    }
  }

  &__slider {
    display: none;
  }
}

/*-------DESCRIPTION---------*/

.product__description {
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  line-height: 19px;
  padding: 0 0 0 41px;
  flex-grow: 1;

  h1 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin: 0 0 25px 0;
  }

  .star-rating {
    display: flex;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 18.5px;

    .rating-row {
      width: 116px !important;
    }

    .estimation {
      margin-right: 18px;
    }

    .icon-bubble2 {
      margin-right: 5px;
    }

    &__comments {
      text-decoration: none;
      color: #c4c4c4;
      font-size: 18px;
      transition: all .3s ease;
    }

    #star9 {
      display: flex;
      margin-right: 13px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .product__number {
    display: block;
    font-size: 14px;
    line-height: 16px;
    color: #486175;
    margin-bottom: 13px;
  }

  .available {
    display: block;
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 26px;
    padding-left: 4px;

    &:before {
      content: '';
      width: 13px;
      height: 8px;
      border-right: 2px solid #64CA53;
      border-top: 2px solid #64CA53;
      display: inline-block;
      transform: rotate(135deg) translateY(5px);
      margin-right: 9px;

    }
  }

  .not-available {
    display: block;

    &:before {
      content: '';
      width: 9px;
      height: 9px;
      display: inline-block;
      background: center / cover no-repeat url("../images/clock.png");
      margin-right: 5px;
    }
  }

  .product__price {
    display: block;
    font-size: 36px;
    line-height: 42px;
    color: #F75555;
    font-weight: bold;
    margin-bottom: 22px;
  }

  .product__amount {

    &__text {
      display: block;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      padding: 12px 10px;
      border: 1px solid #92A4B1;
      border-radius: 5px;
      max-width: fit-content;
    }

    &__less, &__more {
      display: inline-block;
      position: relative;
      width: 15px;
      height: 15px;

      &:hover {
        cursor: pointer;
      }

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 2px;
        background: black;
      }
    }

    &__more::after {
      content: "";
      height: 15px;
      width: 2px;
      background: #000;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .product__total {
      margin: 0 52px
    }
  }

  .product__size__holder {
    display: flex;
    margin-bottom: 30px;

    .product__size__size {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      line-height: 21px;
      border-radius: 5px;
      border: 1px solid #92A4B1;
      width: 40px;
      height: 40px;
      margin-right: 13px;
      transition: all 0.3s;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        border: 1px solid #F75555;
        cursor: pointer;
      }

      &--active {
        border: 1px solid #F75555;
        cursor: pointer;
      }
    }
  }

  .button {
    max-width: 260px;
    max-height: 45px;
    padding: 15px;
    margin-bottom: 10px;

    &--white {
      display: none;
    }
  }
}

/*-------------ADVANTAGE-------------*/

.product__advantage {
  max-width: 260px;
  width: 100%;
  padding: 24px 0;
  background: #ebecee;
  margin-bottom: 10px;

  &__holder {
    display: flex;
    color: #486175;
  }

  &__ico {
    max-width: 56px;
    width: 100%;
    text-align: center;
    font-size: 20px;

    i {
      padding-left: 20px;
    }
  }

  &__text {
    flex-grow: 1;
    padding-right: 11px;

    h4 {
      font-size: 16px;
      line-height: 19px;
      font-weight: 400;
      font-family: "Maven Pro", sans-serif;
      color: #112838;
      margin: 0 0 14px 0;
      padding-left: 5px;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    margin-bottom: 10px;
  }
}

.product__advantage__wrapper .button {
  background: #fff;
  border: 1px solid #fff;
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #112838;
  padding: 12px 0;
  margin-bottom: 10px;

  i {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #112838;
    color: #fff;
    font-size: 20px;
    margin-right: 12px;
  }

  &:hover {
    color: unset;
    border: 1px solid #112838;
  }
}

@media (max-width: 1040px) {

  .product__description {
    padding: 0 0 0 5vw;
  }

  .product__advantage__wrapper {
    display: none;
  }

  .product__img-wrapper {
    max-width: 50%;
  }
}

@media (max-width: 768px) {

  .product__img-wrapper {
    padding: 35px 15px;
  }

  .product__color {
    top: 15px;
    left: 10px;
  }
}

@media (max-width: 499px) {
  .breadcrumbs {
    display: none;
  }

  .container .heading__mobile {
    display: block;
    font-family: "Maven Pro", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
  }

  .product__img-holder, .product__img-wrapper--bottom {
    display: none;
  }

  .product__slider {
    display: block;
  }

  .product__img-wrapper {
    max-width: 100%;
    margin-bottom: 53px;

    .slick-dots {
      display: flex !important;
      right: 50%;
      bottom: -65px;
      transform: translateX(50%);

      li {
        width: 30px;
      }
    }
  }

  .product .container {
    flex-direction: column;
  }

  .product__slider__block {
    max-width: 320px;
    margin: 0 100vw;

    img {
      height: 100%;
      width: 45vw;
    }
  }

  .product__description {
    position: relative;
    padding: 0;

    h1 {
      display: none;
    }

    .available {
      position: absolute;
      top: 0;
      right: 0;
    }

    .product__amount {
      display: flex;
      margin-bottom: 30px;

      p {
        margin-right: 20px;
      }
    }

    .product__size {
      display: flex;

      p {
        margin-right: 20px;
      }
    }

    .button--white {
      display: block;
    }
  }

  .product__description .button-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .button {
      display: flex;
      width: calc(50% - 10px);
      text-align: center;

      &--white {
        background: inherit;
        color: #112838;
        padding: 0;
        margin-bottom: 30px;

        i {
          font-size: 30px;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: #486175;
          color: transparent;
          margin-right: 17px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .container .product__description .available {
    top: 0;
  }
}

@media (max-width: 350px) {
  .container .product__description .available {
    top: 40px
  }
}